body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff9c4; /* amarelo clarinho */
  }
  
  header {
    background-color: #1976d2; /* azul */
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  main {
    margin-top: 80px;
    padding: 20px;
  }
  
  .login-container {
    max-width: 300px;
    margin: 100px auto;
    background-color: #fffde7;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .login-container input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 90%;
  }
  
  button {
    padding: 10px;
    background-color: #1976d2;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .veiculos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .carro {
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }

  img {
    width: 2300px;
  }
  